<!DOCTYPE html>
<html>
<head>
    <title>Secure Content</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>📄 Secure Content</h2>

    {% if text %}
        <p>{{ text }}</p>
    {% endif %}

    {% for file in files %}
        <div class="file-box">

            {% if file.endswith('.png') or file.endswith('.jpg') or file.endswith('.jpeg') %}
                <img src="/uploads/{{ file }}">
            {% endif %}

            {% if file.endswith('.pdf') %}
                <p>📄 {{ file }}</p>
            {% endif %}

            <a href="/download/{{ file }}">
                <button class="main-btn download-btn">⬇ Download</button>
            </a>

        </div>
    {% endfor %}
</div>

</body>
</html>