<!DOCTYPE html>
<html>
<head>
    <title>Saved</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .center {
            text-align: center;
        }

        .single-img {
            margin-top: 20px;
        }

        .single-img img {
            width: 100%;
            max-height: 250px;
            object-fit: cover;
            border-radius: 12px;
        }

        .back-btn {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container center">
    <h2>✅ Saved Successfully</h2>
    <p>Use your password to open your secure content</p>

    <!-- 🔥 Single random image -->
    <div class="single-img">
    <img id="randomImage">
</div>

<script>
    const images = [
        "https://th.bing.com/th/id/OIP.73z1UPCp_8H5L_vOev8U0AHaEK?w=330&h=185&c=7&r=0&o=7",
        "https://th.bing.com/th/id/OIP.xgonOfNjQWXsAvICmPLGdgHaHa?w=115&h=183&c=7&r=0&o=7",
        "https://media.tenor.com/TUwFSO8bKj4AAAAM/chikkanna-kannada-comedy.gif",
        "https://media.tenor.com/Dpc_QB5RBW0AAAAM/uppi-kannada.gif",
        "https://www.bing.com/images/search?view=detailV2&ccid=j3xrRo9V&id=D5498461B3CC4F5CE31F3CA62ED36BB876F1C5FE&thid=OIP.j3xrRo9Vgc0shbbNvcP2pgHaFj&mediaurl=https%3a%2f%2fimages.gizbot.com%2fkn%2fimg%2f2014%2f09%2f04-1409819062-1copy.jpg&exph=450&expw=600&q=Kannada+Memes+Education-Related&FORM=IRPRST&ck=354CF41573D4E04425657D8E681CCEDC&selectedIndex=10&itb=0",
        "https://media.tenor.com/shZDCekI3jEAAAAe/kannada-trolls.png",
        "https://i.makeagif.com/media/2-13-2016/USo8jK.gif"
    ];

    const randomIndex = Math.floor(Math.random() * images.length);
    document.getElementById("randomImage").src = images[randomIndex];
</script>

</body>
</html>
